version: "3"
# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio
    container_name: arifn.github.io
    command: bash -c "
      rm -f Gemfile.lock
      && bundle install
      && bundler exec jekyll serve --watch --port=4000 --host=0.0.0.0 --livereload --verbose"
    ports:
      - 4000:4000
    volumes:
      - .:/srv/jekyll